<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online wallet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="wallet-container "  >
<form class="form-horizontal" [formGroup]="addWithdrawForm"  (ngSubmit)="onSubmit()" >
  <p class="page-title"><i class="fa fa-align-left">  &nbsp;Online wallet</i> <i class="fa fa-user"> {{userName}} </i></p>

&nbsp;
&nbsp;
  <div class="amount-box text-center">
    <img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">

  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Enter Amount</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="amount"></label>
          <div class="col-sm-8">
            <input id="amount" type="number" class="form-control" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors && amount.touched}"/>
            <div *ngIf="submitted && f.amount.errors  && amount.touched" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required  && amount.touched">please enter amount</div>
              <div *ngIf="f.amount.errors.pattern  && amount.touched">enter money more than 0</div>
          </div>
          </div>
        </div>
                 
      </div>
      <div class="panel-footer"  >
        &nbsp;&nbsp;
        <div class="form-group">
            <button [disabled]="addWithdrawForm.invalid" class="btn btn-primary btn-block "  type="submit" >Proceed to withdraw Money</button>
          </div>
      </div>
    </div>
             
  </form>
  </div>
</body>
</html>
