<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online wallet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="wallet-container text-center">
		<p class="page-title"><i class="fa fa-align-left">  &nbsp;Online wallet</i> <i class="fa fa-user"> {{userName}} </i></p>

		<div class="amount-box text-center">

           &nbsp;
			&nbsp;
			<img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">
			<p>Wallet Balance</p>
			<p class="amount">{{accountBalance}}</p>
			&nbsp;
			<p>	{{message}}   </p>
		</div>

		<div class="btn-group text-center">
			<button type="button" class="btn btn-outline-light"  (click)="onAddClick()" > Add Money </button>
            <button type="button" class="btn btn-outline-light" (click)="onWithdrawClick()" >Widthdraw </button>
                
           
        </div>
             <router-outlet></router-outlet>

			<!--div class="txn-history">
				<p><b>History</b></p>
				<p class="txn-list">Payment to xyz shop<span class="debit-amount">-$100</span></p>

				<p class="txn-list">Payment to abc shop<span class="debit-amount">-$150</span></p>

				<p class="txn-list">Credit From abc ltd<span class="credit-amount">+$300</span></p>

				<p class="txn-list">Transfer From John Doe<span class="credit-amount">+$100</span></p>
			</div-->

			<div class="footer-menu">
				<div class="row text-center">
					 &nbsp;
				  

				</div>
				&nbsp;
				&nbsp;
            </div>
            

            
</div>
</body>
</html>



  